.task{
    padding: 10px 20px;
    border: 2px solid blueviolet;
    background-color: #e2c2ff;
    border-radius: 5px;
    margin-top: 20px;
}

.task p{
    margin: 0;
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
}